

body {
    background-image:url("/images/Bluesunset.jpg");
    background-repeat: repeat;
    background-color: black;
    background-position: center;
    background-size: 100% 100%;
    max-width: 100%;
    height: 150vh;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(90deg, aqua, white);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-decoration-color: transparent;
    -webkit-text-stroke: 1px blue;
    display: inline-block;
    font-family: 'Advent Pro', sans-serif;
    padding: 1%;
    font-size: 2em;
}
a{
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}
.about-container{
    max-width: 100%;
   align-self: center;
}
.about {
    max-width: 50%;
}
.article {
    margin: 5%;
    background-color: rgba(112, 163, 240, 0.8);
    border: 1px solid black;
    border-radius: 20%;
    text-align: center;
}
.article {
    color: white;
    font-family: 'Advent Pro', sans-serif;
    font-size: 1.8em
}
.about img {
    width: 20%;
    height: 20%;
    border-radius: 50%; 
}
.header{
    display: flex;
    align-content: space-between;
    color: white;
    flex-direction: column;
    text-align: center; 
}
.header h1 {
    font-family: 'Bungee Spice', cursive;
}
.header ul {
    
    font-size: 2em;
    font-family: 'Mouse Memoirs', sans-serif;
}

li {
    display: inline-block;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-decoration-color: transparent;
    -webkit-text-stroke: 1px black;
}
hr {
    color: black
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.top {
    color: black;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.bottom {
    display: flex;
    flex-direction: column;
}
.projectContainer{
    display: flex;
    flex-direction: initial;
}
.projectContainer2{
    display: flex;
    flex-direction: initial;
}
.card-body {
    background-color: rgba(100, 156, 217, 0.8);
}


.gitview img {
    width: 15%;
}
.break {
    flex-basis: 100%;
    height: 0;
}

.bottom {
    color:white
}
details > summary {
    list-style-type: '▶️';
    background-image: linear-gradient(5deg, aqua, white);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-decoration-color: transparent;
    /* -webkit-text-stroke: 1px blue; */
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Advent Pro', sans-serif;
}
details[open] > summary {
    list-style-type: '🔽';
    background-image: linear-gradient(5deg, rgb(255, 213, 0), white);
    background-size: 110%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-decoration-color: transparent;
    /* -webkit-text-stroke: 1px blue; */
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Advent Pro', sans-serif;
}
details {
    border-radius: 0.2rem;
    padding: 0.5rem;
}

details[open] > summary {
    margin-bottom: 0.5rem;
}
p { 
    text-align: center;
}
#secret {
    display: none;
}
@media all and (max-width: 790px) {
    .bottom {
        display: flex;
        flex-direction: row;
        
    }
    .projectContainer {
        display: flex;
        flex-direction: column;
    }
    .projectContainer2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about img {
        width: 20%;
        height: auto;
        border-radius: 50%;
    }
}
.break-hide {
    display: none;
}
@media all and (max-width: 500px) {
    .bottom {
        display: flex;
        flex-direction: column;
    }
    .projectContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .projectContainer2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about img {
        width: 30%;
        height: 30%;
        border-radius: 50%;
    }
}
@media all and (max-width: 1200px){
    .article section {
        font-size: 1.5em;
    }
}
    .about {
        display: flex;
        flex-direction: column;
        position: relative;
        max-width: 100%;
    }
    .secret {
        display: flex;
        flex-direction: column;
    }
    .about-container{
        max-width: 100%;
        align-self: center;
    }
    .article section {
        color: white;
        font-family: 'VT323', monospace;
        font-size: 1.8em
    }
    #secret {
        display:block;
    }
    .str-secret {
        display: none;
    }

