body {
    background-image: url("./images/Retrosystem.jpg");
    background-repeat: repeat;
    background-color: black;
    background-position: center;
    background-size: 100% 100%;
    width:100%;
    height: 100vh;
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: 'VT323', monospace;
    font-size: 2em;
}
a{
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:visited{
    text-decoration: none;
    
}
hr {
    color: rgb(151, 150, 151);
}
.about-container h1 {
    font-family: 'VT323', monospace;
    text-transform: uppercase;
    color: white;
    font-size: 2.5em;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-decoration-color: transparent;
    -webkit-text-stroke: .5px black;
    display: flex;
    flex-direction: column;

}


.str-secret{
    color:red 
    
    
}


.article {
    margin-left: 25%;
    margin-right: 10%;
    background-color: black;
    color: black;
    opacity: .9;
    
}
.article section {
    color: white;
    font-family: 'VT323', monospace;
    font-size: 1.8em
}
.secret {
    display: none;
    background-image: linear-gradient(90deg, aqua, white);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-decoration-color: transparent;
    -webkit-text-stroke: 1px blue;
    font-size: 2.5em;
    align-items: center;
    
}
details > summary {
    list-style-type: '▶️';
}

details[open] > summary {
    list-style-type: '🔽';
}

details {
    
    border-radius: 0.2rem;
    padding: 0.5rem;
}

details[open] > summary {
    margin-bottom: 0.5rem;
}
.secret summary{ 
    animation: more 1s infinite;
    animation-delay: calc(.1s * var(--i));
    background-image: linear-gradient(90deg, aqua, white);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-decoration-color: transparent;
    -webkit-text-stroke: 1px blue;
    font-size: 1em;
    align-items: center;
}
@keyframes more {
    0%,40%,100% {
        transform: translateY(0)
      }
      20% {
        transform: translateY(-20px)
      }
    
}

.secret img {
    width: 50%;
    height: 50%;
    border-radius: 100%;
    margin-left: 25%;
}
summary {
    text-align: center;
}
p { 
    text-align: center;
}

/* .about-bottom-container {
    background-color: black;
    background-repeat: repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
    font-family: 'Advent Pro', sans-serif;
} */
#secret {
    display: none;
}

@media all and (max-width: 1200px){
    .article section {
        font-size: 1.5em;
    }
}

@media all and (max-width:750px){
    body {
        background-image: url('./images/phoneaboutsize.jpg')
    }
   

    .about {
        display: flex;
        flex-direction: column;
        position: relative;
        max-width: 100%;

        align-items: center;
       
    }
    .about img {
        width: 30%;
        height: auto;
        border-radius: 100%;
        
    }
    .secret {
        display: flex;
        flex-direction: column;
    }
    
    .about-container{
        max-width: 100%;
        height:200vh;
        font-family: 'VT323', monospace;
        
    }

    .about-container h1 {
        font-family: 'Courgette', cursive;
        text-transform: uppercase;
        color: rgb(226, 14, 241);
        text-shadow: 1px -1px 0 rgba(255, 255,255,0.5), 2px 1px 2px rgba(255,0,222,0.85), -3px -2px 3px rgba(78, 15, 101, 0.85), 1px -2px 0 rgba(255,255,255, 0.8)
        
    }
    .article {
        margin-left: 5%;
        margin-right: 5%;
        background-color: rgb(162, 112, 162, .8);
        border: 1px solid black;
        border-radius: 2%;
        text-align: center;
        
        
    }
    .article section {
        color: white;
        font-family: 'VT323', monospace;
        font-size: 1.8em
    }
    #secret {
        display:block;
    }
    .str-secret {
        display: none;
    }
}
